@using OmniTalks.Models.ChatViewModels
@model MessageViewModel
<div class="m-4 text-end chat-footer">
	<form class="py-2 pt-1 px-5" method="post" asp-controller="Chat" asp-action="AddMessage">
		<input type="hidden" asp-for="@Model.User2Id" />
		<div class="d-flex align-items-sm-center align-items-end flex-column flex-sm-row mt-2 gap-3">
			<div class="form-content p-0 d-flex gap-2 align-items-center w-100">
				@if(Model.AlredyExist == true)
				{
					<input asp-for="Text" class="py-2" placeholder=model.Text>
				}
				else
				{
					<input asp-for="Text" class="py-2" placeholder="Type your message here..">
				}
			</div>
			<div class="btn-area">
				<button type="submit" class="cmn-btn px-2 px-sm-5 px-lg-6">
					Send
				</button>
			</div>
		</div>
	</form>
</div>
