@using OmniTalks.Models.CategoryViewModels
@model CategoryViewModel
<form asp-controller="Category" asp-action="Add" method="post">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4">
				<div class="d-block d-lg-none">
					<button class="button profile-active mb-4 mb-lg-0 d-flex align-items-center gap-2">
						<i class="material-symbols-outlined mat-icon"> tune </i>
						<span>My Create</span>
					</button>
				</div>
				<div class="profile-sidebar cus-scrollbar p-5">
					<div class="d-block d-lg-none position-absolute end-0 top-0">
						<button class="button profile-close">
							<i class="material-symbols-outlined mat-icon fs-xl"> close </i>
						</button>
					</div>
					<div class="head-area mb-5">
						<h5>Create Page</h5>
					</div>
					<div class="profile-picture d-flex gap-2 mb-5 align-items-center">
						<div class="avatar position-relative">
							<img class="avatar-img max-un" src="/images/avatar-1.png" alt="avatar">
						</div>
						<div class="text-area">
							<h6 class="m-0 mb-1"><a href="profile-post.html">Lerio Mao</a></h6>
							<p class="mdtxt">Admin</p>
						</div>
					</div>
					<div>
						<div class="input-area second">
							<textarea asp-for="Name" type="text" placeholder="Category name"></textarea>
						</div>
						<div class="input-area second full-width">
							<textarea asp-for="Bio" cols="30" rows="3" placeholder="Bio(optional)"></textarea>
						</div>
						<div>
							<button type="submit" class="cmn-btn">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- Main Content end -->
<!-- Go Live Popup start -->
@* <div class="go-live-popup">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="modal cmn-modal fade" id="goLiveMod">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content p-5">
							<div class="modal-header justify-content-center">
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
									<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
								</button>
							</div>
							<div class="top-content pb-5">
								<h5>Go Live</h5>
							</div>
							<div class="mid-area">
								<div class="d-flex mb-5 gap-3">
									<div class="profile-box">
										<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
									</div>
									<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
								</div>
								<div class="file-upload">
									<label>Upload attachment</label>
									<label class="file mt-1">
										<input type="file">
										<span class="file-custom pt-8 pb-8 d-grid text-center">
											<i class="material-symbols-outlined mat-icon"> perm_media </i>
											<span>Drag here or click to upload photo.</span>
										</span>
									</label>
								</div>
							</div>
							<div class="footer-area pt-5">
								<div class="btn-area d-flex justify-content-end gap-2">
									<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
									<button class="cmn-btn">Go Live</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> *@

