@model UserViewModel
<body>

	<!-- start preloader -->
	@* <div class="preloader align-items-center justify-content-center">
	<span class="loader"></span>
	</div> *@
	<!-- end preloader -->
	<!-- Scroll To Top Start-->
	<button class="scrollToTop d-none d-lg-block"><i class="mat-icon fas fa-angle-double-up"></i></button>
	<!-- Scroll To Top End -->
	<!-- header-section start -->
	<!-- header-section end -->
	<!-- Bottom Menu start -->
	<!-- Bottom Menu end -->
	<!-- Main Content start -->
	<main class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="banner-area pages-create mb-5">
						<div class="single-box p-5">
							<div class="avatar-area">
								<img class="avatar-img w-100" src="/images/profile-cover-img.png" alt="image">
							</div>
							<div class="top-area py-4 d-center flex-wrap gap-3 justify-content-between align-items-start">
								<div class="d-flex gap-3 align-items-center">
									<div class="avatar-item p">
										<img class="avatar-img max-un" src="/images/avatar-14.png" alt="avatar">
									</div>
									<div class="text-area text-start">
										<h5 class="m-0 mb-1">Travel Moon</h5>
										<div class="friends-list d-flex flex-wrap gap-2 align-items-center text-center">
											<ul class="d-flex align-items-center justify-content-center">
												<li><img src="/images/avatar-3.png" alt="image"></li>
												<li><img src="/images/avatar-2.png" alt="image"></li>
												<li><img src="/images/avatar-4.png" alt="image"></li>
											</ul>
											<span class="mdtxt d-center">10k Followers</span>
											<span class="mdtxt d-center following">200 Following</span>
										</div>
									</div>
								</div>
								<div class="btn-item d-center gap-3">
									<a href="#" class="cmn-btn d-center gap-1">
										<i class="material-symbols-outlined mat-icon fs-4"> person_add </i>
										Follow
									</a>
									<a href="@($"/Chat/ShowChat/{Model.Id}")" class="cmn-btn d-center gap-1">
										<i class="material-symbols-outlined mat-icon fs-4"> send </i>
										Message
									</a>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center px-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> flag </i>
													<span>Report</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="page-details">
								<ul class="nav mt-5 pt-4 flex-wrap gap-2 tab-area">
									<li class="nav-item" role="presentation">
										<a href="public-profile-post.html" class="nav-link d-center">Post</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="public-profile-about.html" class="nav-link d-center active">About</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="public-profile-photos.html" class="nav-link d-center">Photos</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="public-profile-group.html" class="nav-link d-center">Groups</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="public-profile-connections.html" class="nav-link d-center">Connections</a>
									</li>
									<li class="nav-item" role="presentation">
										<a href="public-profile-events.html" class="nav-link d-center">Events</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xxl-9 col-xl-8 col-lg-7">
					<div class="single-box p-3 p-sm-5">
						<div class="head-area text-start">
							<h6>Bio</h6>
							<p class="mdtxt mt-6">“Lorem ipsum dolor sit amet consectetur. Nec donec vestibulum eleifend lectus ipsum ultrices et dictum”.</p>
						</div>
						<ul class="d-grid gap-3 mt-4">
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> integration_instructions </i>
									<span class="mdtxt">Developer</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> school </i>
									<span class="mdtxt">Master's degree</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> flag </i>
									<span class="mdtxt link"><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5125342225113c30383d7f323e3c">[email&#160;protected]</a></span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> language </i>
									<span class="mdtxt link">www.wisoky.com</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> call </i>
									<span class="mdtxt">(316) 555-0116</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> pin_drop </i>
									<span class="mdtxt">USA</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="d-center gap-3 justify-content-between">
								<div class="info-area d-flex align-items-center gap-2">
									<i class="material-symbols-outlined mat-icon"> house </i>
									<span class="mdtxt">775 Rolling Green Rd.</span>
								</div>
								<div class="input-item d-center text-start">
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-3 m-0"> public </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> public </i>
													<span>Public</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> person </i>
													<span>Only me</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> share </i>
													<span>Share</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="group-btn cus-dropdown dropend">
										<button type="button" class="dropdown-btn d-center ps-2" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> edit </i>
													<span>Edit</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> delete </i>
													<span>Delete</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xxl-3 col-xl-4 col-lg-5">
					<div class="sidebar-wrapper d-flex al-item justify-content-end justify-content-xl-center flex-column flex-md-row flex-xl-column flex gap-6">
						<div class="sidebar-area p-5">
							<div class="mb-4">
								<h6 class="d-inline-flex">
									Contact
								</h6>
							</div>
							<div class="d-flex flex-column gap-6">
								<div class="profile-area d-center position-relative align-items-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-6.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Piter Maio</a></h6>
										</div>
									</div>
									<span class="mdtxt abs-area d-center position-absolute end-0">5</span>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-7.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Floyd Miles</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-8.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Darrell Steward</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-2.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Kristin Watson</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-3.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Jane Cooper</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-4.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Devon Lane</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-9.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Annette Black</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-10.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Jerome Bell</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="profile-area d-center justify-content-between">
									<div class="avatar-item d-flex gap-3 align-items-center">
										<div class="avatar-item">
											<img class="avatar-img max-un" src="/images/avatar-11.png" alt="avatar">
										</div>
										<div class="info-area">
											<h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">Guy Hawkins</a></h6>
										</div>
									</div>
									<div class="btn-group cus-dropdown dropend">
										<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
											<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
										</button>
										<ul class="dropdown-menu p-4 pt-2">
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> lock </i>
													<span>Block</span>
												</a>
											</li>
											<li>
												<a class="droplist d-flex align-items-center gap-2" href="#">
													<i class="material-symbols-outlined mat-icon"> hide_source </i>
													<span>Hide Contact</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- Main Content end -->
	<!-- Go Live Popup start -->
	<div class="go-live-popup">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="modal cmn-modal fade" id="goLiveMod">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content p-5">
								<div class="modal-header justify-content-center">
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
										<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
									</button>
								</div>
								<div class="top-content pb-5">
									<h5>Go Live</h5>
								</div>
								<div class="mid-area">
									<div class="d-flex mb-5 gap-3">
										<div class="profile-box">
											<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
										</div>
										<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
									</div>
									<div class="file-upload">
										<label>Upload attachment</label>
										<label class="file mt-1">
											<input type="file">
											<span class="file-custom pt-8 pb-8 d-grid text-center">
												<i class="material-symbols-outlined mat-icon"> perm_media </i>
												<span>Drag here or click to upload photo.</span>
											</span>
										</label>
									</div>
								</div>
								<div class="footer-area pt-5">
									<div class="btn-area d-flex justify-content-end gap-2">
										<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
										<button class="cmn-btn">Go Live</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Go Live Popup end -->
	<!-- video popup start -->
	<div class="go-live-popup video-popup">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="modal cmn-modal fade" id="photoVideoMod">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content p-5">
								<div class="modal-header justify-content-center">
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
										<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
									</button>
								</div>
								<div class="top-content pb-5">
									<h5>Add post photo/video</h5>
								</div>
								<div class="mid-area">
									<div class="d-flex mb-5 gap-3">
										<div class="profile-box">
											<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
										</div>
										<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
									</div>
									<div class="file-upload">
										<label>Upload attachment</label>
										<label class="file mt-1">
											<input type="file">
											<span class="file-custom pt-8 pb-8 d-grid text-center">
												<i class="material-symbols-outlined mat-icon"> perm_media </i>
												<span>Drag here or click to upload photo.</span>
											</span>
										</label>
									</div>
								</div>
								<div class="footer-area pt-5">
									<div class="btn-area d-flex justify-content-end gap-2">
										<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
										<button class="cmn-btn">Post</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- video popup end -->
	<!-- Go Live Popup start -->
	<div class="go-live-popup">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="modal cmn-modal fade" id="activityMod">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content p-5">
								<div class="modal-header justify-content-center">
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
										<i class="material-symbols-outlined mat-icon xxltxt"> close </i>
									</button>
								</div>
								<div class="top-content pb-5">
									<h5>Create post</h5>
								</div>
								<div class="mid-area">
									<div class="d-flex mb-5 gap-3">
										<div class="profile-box">
											<a href="#"><img src="/images/add-post-avatar.png" class="max-un" alt="icon"></a>
										</div>
										<textarea cols="10" rows="2" placeholder="Write something to Lerio.."></textarea>
									</div>
									<div class="file-upload">
										<label>Upload attachment</label>
										<label class="file mt-1">
											<input type="file">
											<span class="file-custom pt-8 pb-8 d-grid text-center">
												<i class="material-symbols-outlined mat-icon"> perm_media </i>
												<span>Drag here or click to upload photo.</span>
											</span>
										</label>
									</div>
									<div class="tooltips-area d-flex mt-3 gap-2">
										<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Fallings/Activity">
											<i class="material-symbols-outlined mat-icon"> mood </i>
										</button>
										<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Video">
											<i class="material-symbols-outlined mat-icon"> movie </i>
										</button>
										<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Maps">
											<i class="material-symbols-outlined mat-icon"> location_on </i>
										</button>
										<button type="button" class="btn d-center" data-bs-toggle="tooltip" data-bs-placement="top" title="Tag">
											<i class="material-symbols-outlined mat-icon"> sell </i>
										</button>
									</div>
								</div>
								<div class="footer-area d-flex justify-content-between pt-5">
									<div class="left-area">
										<select>
											<option value="1">Public</option>
											<option value="2">Only Me</option>
											<option value="3">Friends</option>
											<option value="4">Custom</option>
										</select>
									</div>
									<div class="btn-area d-flex justify-content-end gap-2">
										<button type="button" class="cmn-btn alt" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
										<button class="cmn-btn">Post</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</body>