@model List<ShowMessageViewModel>
<form asp-controller="Message" asp-action="_ShowMessages">
	@foreach (var message in Model)
	{
		<ul class="py-4 px-5 cus-scrollbar bottom-0 main-chat-box">
			@{
				if (message.IsCurrent)
				{
					<li class="me">
						<div class="message">
							<p>@message.Text</p>
							<span class="mdtxt">@message.SentTime</span>
						</div>
						<div class="entete">
							<img src="/images/avatar-1.png" alt="image">
						</div>
					</li>
				}
				else
				{
					<li class="you">
						<div class="entete">
							<img src="/images/avatar-2.png" alt="image">
						</div>
						<div class="message">
							<p>@message.Text<p>
								<span class="mdtxt">24</span>
						</div>
					</li>
				}
			}
		</ul>
	}
</form>