@model ChatViewModel
<div class="col-xxl-9 col-xl-8 col-lg-8 ps-4 ps-lg-0 d-flex flex-column gap-7">
	<div class="chat-area">
		<div class="main">
			<div class="chat-head py-4 px-5 d-center justify-content-between">
				<div class="d-flex gap-4 align-items-center">
					<img src="/images/avatar-2.png" alt="image">
					<div class="profile-status">
						<h5 class="m-0"><a href="public-profile-post.html" class="m-0">@Model.Reciever.UserName</a></h5>
						<span class="mdtxt">online</span>
					</div>
				</div>
				<div class="d-flex gap-3 align-items-center">
					<a href="#"><i class="material-symbols-outlined mat-icon fw-600"> call </i></a>
					<a href="#"><i class="material-symbols-outlined mat-icon"> videocam </i></a>
				</div>
			</div>
			@foreach (var message in Model.Messages)
			{
				<ul class="py-4 px-5 cus-scrollbar bottom-0 main-chat-box">
					if (message.IsCurrent)
					{
					<li class="me">
						<div class="message">
							<p>@message.Text</p>
							<span class="mdtxt">@message.SentTime</span>
						</div>
						<div class="entete">
							<img src="/images/avatar-1.png" alt="image">
						</div>
					</li>
					}
					else
					{
					<li class="you">
						<div class="entete">
							<img src="/images/avatar-2.png" alt="image">
						</div>
						<div class="message">
							<p>@message.Text<p>
								<span class="mdtxt">24</span>
						</div>
					</li>
				</ul>
			}

			<div class="m-4 text-end chat-footer">
				<form action="#" class="py-2 pt-1 px-5">
					<div class="d-flex align-items-sm-center align-items-end flex-column flex-sm-row mt-2 gap-3">
						<div class="form-content p-0 d-flex gap-2 align-items-center w-100">
							<div class="file-input d-flex gap-1 gap-md-2">
								<div class="file-upload">
									<label class="file">
										<input type="file">
										<span class="file-custom border-0 d-grid text-center">
											<span class="material-symbols-outlined rotateInDownLeft mat-icon fs-xxl"> attachment </span>
										</span>
									</label>
								</div>
								<div class="file-upload">
									<label class="file">
										<input type="file">
										<span class="file-custom border-0 d-grid text-center">
											<span class="material-symbols-outlined mat-icon fs-xxl"> perm_media </span>
										</span>
									</label>
								</div>
								<div class="file-upload">
									<label class="file">
										<input type="file">
										<span class="file-custom border-0 d-grid text-center">
											<span class="material-symbols-outlined mat-icon fs-xxl"> gif_box </span>
										</span>
									</label>
								</div>
							</div>
							<input class="py-2" placeholder="Type your message here..">
						</div>
						<div class="btn-area">
							<button class="cmn-btn px-2 px-sm-5 px-lg-6">
								Send
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial">
}
