@model CommentLikeViewModel
 <form asp-action="AddLike" asp-controller="Comment" method="post">
	<input type="hidden" asp-for="@Model.CommentId" />
	<button type="submit" class="d-center gap-1 gap-sm-2 mdtxt">
		<i class="material-symbols-outlined mat-icon"></i>
		<i class="material-symbols-outlined mat-icon"> favorite </i> Like
	</button>
</form> 
