@using OmniTalks.Models.CommentViewModels
@model CommentViewModel
<form asp-action="Remove" asp-controller="Comment" method="post">
	<input type="hidden" asp-for="@Model.Id" />
	<button type="submit" class="d-center gap-1 gap-sm-2 mdtxt">
		Remove Comment
	</button>
</form>