@model List<CommentViewModel>
<form>
	@foreach (var item in Model)
	{
        <div class="comments-area mt-5">
            <div class="single-comment-area ms-1 ms-xxl-15">
                <div class="d-flex gap-4">
                    <div class="avatar-item d-center align-items-baseline">
                        <img class="avatar-img max-un" src="/images/avatar-10.png" alt="avatar">
                    </div>
                    <div class="info-item w-100">
                        <div class="top-area px-4 py-3 d-flex gap-3 align-items-start justify-content-between">
                            <div class="title-area">
                                <h6 class="m-0 mb-3"><a href="public-profile-post.html">@item.UserName</a></h6>
                                <p class="mdtxt">@item.Text</p>
                            </div>
                            <div class="btn-group dropend cus-dropdown">
                                <button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
                                </button>
                                <ul class="dropdown-menu p-4 pt-2">
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> hide_source </i>
                                            <span>Hide Comments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="droplist d-flex align-items-center gap-2" href="#">
                                            <i class="material-symbols-outlined mat-icon"> flag </i>
                                            <span>Report Comments</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="like-share d-flex gap-6 mt-2">
                            <li class="d-center">
                                <button class="mdtxt">Like</button>
                            </li>
                            @*<li class="d-center flex-column">
                                <button class="mdtxt reply-btn">Reply</button>
						    </li>*@
                            @* <li class="d-center">
                                <button class="mdtxt">Share</button>
						    </li> *@
                        </ul>
                        @*<form action="#" class="comment-form">
                            <div class="d-flex gap-3">
                                <input placeholder="Write a comment.." class="py-3">
                                <button class="cmn-btn px-2 px-sm-5 px-lg-6">
                                    <i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
                                </button>
                            </div>
					</form>*@
                    </div>
                </div>
            </div>
        </div>
    }
</form>
