@model ICollection<PostViewModel>
<div class="post-item d-flex flex-column gap-5 gap-md-7" id="news-feed">
	@foreach (var item in Model)
	{
		<div class="post-single-box p-3 p-sm-5">
			<div class="top-area pb-5">
				<div class="profile-area d-center justify-content-between">
					<div class="avatar-item d-flex gap-3 align-items-center">
						<div class="avatar position-relative">
							<img class="avatar-img max-un" src="/images/avatar-1.png" alt="avatar">
						</div>
						<div class="info-area">
							<h6 class="m-0"><a href="public-profile-post.html">@item.UserName</a></h6>
							<span class="mdtxt status">Active</span>
						</div>
					</div>
					<div class="btn-group cus-dropdown">
						<button type="button" class="dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="material-symbols-outlined fs-xxl m-0"> more_horiz </i>
						</button>
						<ul class="dropdown-menu p-4 pt-2">
							<li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> bookmark_add </i>
									<span>Saved Post</span>
								</a>
							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> person_remove </i>
									<span>Unfollow</span>
								</a>
							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> hide_source </i>
									<span>Hide Post</span>
								</a>
							</li>
							<li>
								@{
									PostViewModel postVM = new PostViewModel();
									postVM.Id = item.Id;
								}
								<partial name="_RemovePostForm" model="postVM" />
							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" asp-controller="Post" asp-action="Edit">
									<i class="material-symbols-outlined mat-icon"> hide_source </i>
									<button asp-controller="Post" asp-action="Edit">Edit Post</button>
								</a>

							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> lock </i>
									<span>Block</span>
								</a>
							</li>
							<li>
								<a class="droplist d-flex align-items-center gap-2" href="#">
									<i class="material-symbols-outlined mat-icon"> flag </i>
									<span>Report Post</span>
								</a>

							</li>
						</ul>
					</div>
				</div>
				<div class="py-4">
					<p class="description">@item.Content</p>
				</div>
				@* <div class="post-img">
					<img src="/images/post-img-1.png" class="w-100" alt="image">
				</div> *@
			</div>
			<div class="total-react-share pb-4 d-center gap-2 flex-wrap justify-content-between">
				<div class="friends-list d-flex gap-3 align-items-center text-center">
					<ul class="d-flex align-items-center justify-content-center">
						<li><img src="/images/avatar-2.png" alt="image"></li>
						<li><img src="/images/avatar-3.png" alt="image"></li>
						<li><img src="/images/avatar-4.png" alt="image"></li>
						<li><span class="mdtxt d-center">8+</span></li>
					</ul>
				</div>
				<div class="react-list d-flex flex-wrap gap-6 align-items-center text-center">
					<button class="mdtxt">@item.Comments.Count Comments</button>
					<button class="mdtxt">1 Shares</button>
					<button class="mdtxt">@item.LikesCount Likes </button>
				</div>
			</div>
			<div class="like-comment-share py-5 d-center flex-wrap gap-3 gap-md-0 justify-content-between">
				@{
					PostLikeViewModel addLikeVM = new PostLikeViewModel();
					addLikeVM.PostId = item.Id;
				}
				<partial name="_AddLikeForm" model="addLikeVM">
					<button class="d-center gap-1 gap-sm-2 mdtxt" asp-action="">
						<i class="material-symbols-outlined mat-icon"> chat </i>
						Comment
					</button>
					<button class="d-center gap-1 gap-sm-2 mdtxt">
						<i class="material-symbols-outlined mat-icon"> share </i>
						Share
					</button>
			</div>
			@{
				AddCommentViewModel addCommentViewModel = new AddCommentViewModel();
				addCommentViewModel.PostId = item.Id;
			}
			<partial name="_AddComment" model="addCommentViewModel">

			<partial name="_ShowComments" model="item.Comments">
		</div>
	}
</div>
