@using OmniTalks.Models.CommentViewModels
@model AddCommentViewModel
<form asp-action="Add" asp-controller="Comment" method="post">
	<div class="d-flex mt-5 gap-3">
		<div class="profile-box d-none d-xxl-block">
			<a href="#"><img src=@Url.Content(Model.ImgUrl.ToString()) class="max-un" alt="icon" width="48"></a>
		</div>
		<div class="form-content input-area py-1 d-flex gap-2 align-items-center w-100">
			<input placeholder="Write a comment.." asp-for="Text" />
			<div class="file-input d-flex gap-1 gap-md-2">
			</div>
		</div>
		<div class="btn-area d-flex">
			<input type="hidden" asp-for="PostId" />
			<button type="submit" class="d-center gap-1 gap-sm-2 mdtxt">
				<i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
			</button>
		</div>
	</div>
</form>


