@using OmniTalks.Models.PostViewModel
@model PostViewModel
<div class="share-post d-flex gap-3 gap-sm-5 p-3 p-sm-5">
	<div class="profile-box">
		<a href=@($"/User/OtherProfile/{ViewBag.CurrentUserId}")>@* <img src=@Url.Content(Model.UserPhotoUrl.ToString()) class="max-un" alt="icon"> *@</a>
	</div>
	<form asp-action="Add" asp-controller="Post" method="post" class="w-100 position-relative">
		<textarea asp-for="Content" cols="10" rows="2" placeholder="Write something to Luigi.."></textarea>
		<div class="abs-area position-absolute d-none d-sm-block">
			<i class="material-symbols-outlined mat-icon xxltxt"> sentiment_satisfied </i>
		</div>
		<div asp-for="" class="input-area first">
			<select asp-for="@Model.CategoryId" class="form-control" asp-items="@ViewBag.CategoriesList"></select>
		</div>
		<ul class="d-flex justify-content-between flex-wrap mt-3 gap-3">
			<li class="d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#goLiveMod">
				<img src="/images/icon/live-video.png" class="max-un" alt="icon">
				<span>Live</span>
			</li>
			<li class="d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#photoVideoMod">
				<img src="/images/icon/vgallery.png" class="max-un" alt="icon">
				<span>Photo/Video</span>
			</li>
			<li class="d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#activityMod">
				<img src="/images/icon/emoji-laughing.png" class="max-un" alt="icon">
				<span>Fallings/Activity</span>
			</li>
			<li>
				<button class="cmn-btn px-2 px-sm-5 px-lg-6">
					<i class="material-symbols-outlined mat-icon m-0 fs-xxl"> near_me </i>
				</button>
			</li>
		</ul>
	</form>
</div>