@using OmniTalks.Models.UserViewModels
@model List<UserViewModel>
<div class="sidebar-area p-5">
    <div class="mb-4">
        <h6 class="d-inline-flex">
            Friends
        </h6>
    </div>
    <div class="d-flex flex-column gap-6">
        @foreach (var item in Model)
        {
            <div class="profile-area d-center justify-content-between">
                <div class="avatar-item d-flex gap-3 align-items-center">
                    <div class="avatar-item">
                        <img class="avatar-img max-un" src=@Url.Content(item.ProfilePhotoUrl.ToString()) alt="avatar" width="48">
                    </div>
                    <div class="info-area">
                        <h6 class="m-0"><a href="public-profile-post.html" class="mdtxt">@item.UserName</a></h6>
                    </div>
                </div>
                <div class="btn-group cus-dropdown dropend">
                </div>
            </div>
        }
    </div>
</div>
