@using OmniTalks.Models.PostViewModel
@model PostViewModel

<form asp-action="Edit" asp-controller="Post">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 full-widt">
				<div class="d-block d-lg-none position-absolute end-0 top-0">
					<button class="button profile-close">
						<i class="material-symbols-outlined mat-icon fs-xl"> close </i>
					</button>
				</div>
				<div class="head-area mb-5">
					<h5>Edit Post</h5>
				</div>
				<div class="profile-picture d-flex gap-2 mb-5 align-items-center">
					<div class="avatar position-relative">
						<img class="avatar-img max-un" src="assets/images/avatar-1.png" alt="avatar">
					</div>
					<div class="text-area">
						<h6 class="m-0 mb-1"><a href="profile-post.html">@Model.UserName</a></h6>
					</div>
				</div>>
				<div asp-for="" class="input-area first">
					<select class="form-control h" data-val="true" data-val-required="The CategoryId field is required." id="CategoryId" name="CategoryId" style="display: none;">
						<option value="52b891a5-48cc-4e3f-0e19-08dc5c89a788">Everyday</option>
						<option value="9af70a94-594a-4d80-8a4d-ae63b355f7e4">TestName</option>
					</select><div class="nice-select form-control" tabindex="0"><span class="current">Everyday</span>
						<ul class="list">
						<li data-value="52b891a5-48cc-4e3f-0e19-08dc5c89a788" class="option selected">Everyday</li>
						<li data-value="9af70a94-594a-4d80-8a4d-ae63b355f7e4" class="option">TestName</li>
					</ul>
					</div>
				</div>
				<div class="input-area second full-widt" >
					<textarea asp-for="Content" cols="10" rows="2" placeholder=@Model.Content></textarea>
				</div>
				<div class="btn-area text-end">
					<button class="cmn-btn">Next</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial">
}
